<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <title></title>
    </head>

    <body>
        <nav>
            <a href="/index.html">Home</a>
            <a href="/blog.html">Blog</a>
            <a href="/projects.html">Projects</a>
        </nav>

        <h2 class="font-xl bg-gray-800">this is tailwind styled heading</h2>
        {{content}}
    </body>
</html>
